# Temporary
*.DS_Store
*.jl.cov
*.swp
*.jl.*.cov
*.jl.mem

# Data
*.vtk
*.dat
*.csv
*.vtu
*.pvtu
*.png

# Docs
!docs/src/assets/*.png
docs/**/Manifest.toml
docs/build/
docs/site/

# Deps
.dev/**/Manifest.toml
env/**/Manifest.toml
